* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Iosevka Nerd Font;
  font-size: 17px;
}

@keyframes blink {
  to {
    color: #abb2bf;
  }
}

window#waybar {
  background-color: #212529;
  color: #CED4DA;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  
  color: #E9ECEF;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -5px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  padding-right: 15px;
}


#workspaces button.focused {
  color: #bf616a;
}

#workspaces button.empty {
  color: #6C757D;
}

#workspaces button.active{
  color: #343A40;
  background: #ADB5BD;
}


#workspaces button.urgent {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#memory,
#cpu,
#window,
#tray,
#clock,
#battery,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#custom-media,
#custom-notification{
  background: none;
}

#battery,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#custom-media,
#custom-notification {
  padding: 0 10px;
  color: #e5e5e5;
  /* color: #bf616a; */
}

#memory,
#cpu,#tray{
  padding: 0 10px;
  color: #e5e5e5; 
  /* color: #bf616a; */
}

#memory,
#clock{
  padding: 0 10px;
  color: #e5e5e5;
  /* color: #bf616a; */
}

#custom-notification {
  font-family: "Iosevka Nerd Font";
}


#window,
#workspaces {
  margin: 0 4px;
  color: #e5e5e5;
}

#window {
  padding-left: 10px;
  padding-right: 10px;
  color: #e5e5e5;
  font-size: 5px;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #CED4DA;
}

#memory {
  color: #CED4DA;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#pulseaudio {
  color: #CED4DA;
}

#backlight {
  /* color: #EBCB8B; */
  color: #CED4DA;
}

#clock {
  color: #CED4DA;
  /* background-color: #14141e; */
}

#battery {
  color: #CED4DA;
  /* background-color: #90b1b1; */
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: #CED4DA;
  /* background-color: #26a65b; */
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}


#bluetooth {
  color: #CED4DA;
}

#bluetooth.disconnected {
  color: #6C757D;
}

#custom-separator {
  color:#CED4DA;
}


#tray > .passive {
  -gtk-icon-effect: dim;
  color:#CED4DA;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
