* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Iosevka Nerd Font Mono;
  font-size: 60px;
}

@keyframes blink {
  to {
    color: #abb2bf;
  }
}

window#waybar {
  background-color: rgba(0,0,0,0);
  color: #CED4DA;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}
#workspaces {
  background: url('/home/niko/Documents/potatoes-and-a-side-of-rice/Rices/Minecraft/.config/waybar/mc-hotbar-no-border.png');
  background-repeat: no-repeat;
  padding-right: 4px;
}

#workspaces button {

  color: #c2c2c2;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset -5px -5px #f53c3c21;
  /* Avoid rounded borders under each workspace name */
  border: none;
  padding-left: 28px;
  padding-right: 29px;
}

#workspaces button.last-child {
  padding-left: 5px;
}

#workspaces button:hover {
  color: #ebebeb;
  box-shadow: 
    inset 1px 1px 8px 3px #d7d7d7,
    inset -1px -1px 8px 3px #cbcbcb
  ;
  background: none;
}

#workspaces button.focused {
  color: #bf7f61;
}

#workspaces button.empty {
  color: transparent;
}
#workspaces button.active{
  color: #ebebeb;
  box-shadow: 
    inset 1px 1px 8px 2px #b5b5b5,
    inset -1px -1px 8px 2px #b5b5b5
  ;
}


#workspaces button.urgent {
  color: #f5df3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


.custom-icon-size {
  font-size: 12px;
}


tooltip label {
  font-size: 24px;
}

#memory,
#cpu,
#window,
#tray,
#clock,
#battery,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#custom-media,
#custom-notification{
  background: none;
}

#battery,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#custom-media,
#custom-notification {
  padding: 0 10px;
  color: #e5e5e5;
  /* color: #bf616a; */
}

#memory,
#cpu,#tray{
  padding: 0 10px;
  color: #e5e5e5; 
  /* color: #bf616a; */
}

#memory,
#clock{
  padding: 0 10px;
  color: #e5e5e5;
  /* color: #bf616a; */
}

#custom-notification {
  font-family: "Iosevka Nerd Font";
}


#window,
#workspaces {
  margin: 0 4px;
  color: #e5e5e5;
}

#window {
  padding-left: 10px;
  padding-right: 10px;
  color: #e5e5e5;
  font-size: 5px;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #CED4DA;
}

#memory {
  color: #CED4DA;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#pulseaudio {
  color: #CED4DA;
}

#backlight {
  /* color: #EBCB8B; */
  color: #CED4DA;
}

#clock {
  color: #CED4DA; 
  /* background-color: #14141e; */
}

#battery {
  color: #ff0000;
  /* background-color: #90b1b1; */
}


#battery.charging,
#battery.full,
#battery.plugged {
  color: #e10808;
  text-shadow:
        1px 0 white;
  /* background-color: #26a65b; */
}

#battery.critical:not(.charging) {
  color: #300a0a;
  animation-name: blink;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;

}

label:focus {
  background-color: #000000;
}


#bluetooth {
  color: #CED4DA;
}

#bluetooth.disconnected {
  color: #6C757D;
}

#custom-separator {
  color:#CED4DA;
}


#tray > .passive {
  -gtk-icon-effect: dim;
  color:#CED4DA;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
